<div class="container">
  <ng-template #errorTemplate>
    <div class="text-danger">{{ errorMessage }}</div>
  </ng-template>

  <div class="card mt-3" *ngIf="personnes; else errorTemplate">
    <div class="card-header">Person List</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <form [formGroup]="searchPersonneFormGroup" (ngSubmit)="searchPersonne()">
            <div class="input-group">
              <label class="input-group-text bg-white">Person Name</label>
              <input type="text" class="form-control" formControlName="keyword">
              <button class="btn btn-info">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <button class="btn btn-outline-warning rounded-5" data-bs-toggle="modal" data-bs-target="#createPersonneModal">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
      </div>
      <div class="row mt-2">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Fonction</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let personne of personnes">
                <td>{{ personne.id }}</td>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.email }}</td>
                <td>{{ personne.fonction }}</td>
                <td>
                  <button class="btn btn-success" (click)="getDetail(personne)">Details</button>
                </td>
                <td>
                  <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#updatePersonneModal" (click)="selectPersonne(personne)">
                    <i class="bi bi-pen"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger" (click)="deletePersonne(personne.id)">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Update Personne Modal -->
<div class="modal fade" id="updatePersonneModal" tabindex="-1" aria-labelledby="updatePersonneModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatePersonneModalLabel">Update Person</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input [(ngModel)]="newPersonne.nom" placeholder="Person Name" class="form-control mb-2">
        <input [(ngModel)]="newPersonne.email" placeholder="Email" class="form-control mb-2">
        <input [(ngModel)]="newPersonne.fonction" placeholder="Fonction" class="form-control mb-2">
        <input type="hidden" [(ngModel)]="newPersonne.reservations" placeholder="Reservations" class="form-control mb-2">
        <!--<select [ngModel]="isReservationSelected ? newPersonne.reservations : ''"
                (ngModelChange)="onReservationChange($event)" class="form-control mb-2" multiple>
          <option *ngFor="let reservation of reservationList" [ngValue]="reservation">{{ reservation.nom }}</option>
        </select>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updatePersonne()">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Create Personne Modal -->
<div class="modal fade" id="createPersonneModal" tabindex="-1" aria-labelledby="createPersonneModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createPersonneModalLabel">Create Person</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input [(ngModel)]="newPersonne.nom" placeholder="Person Name" class="form-control mb-2">
        <input [(ngModel)]="newPersonne.email" placeholder="Email" class="form-control mb-2">
        <input [(ngModel)]="newPersonne.fonction" placeholder="Fonction" class="form-control mb-2">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="createPersonne()">Create</button>
      </div>
    </div>
  </div>
</div>

